.myPetsContainer{
    margin: 0;
    display: flex !important;
    flex-direction: column !important;;
    justify-content: center !important;;
}

.adoptedList{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Changed to auto-fill and added minmax */
}

.fosteredList{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Changed to auto-fill and added minmax */
}

.savedList{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Changed to auto-fill and added minmax */
}

.myPetsImage{
    border-radius: none;
    height: 50%;
    border-radius: 50% !important;
}

.tabList{
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    margin: 8px 0 0 0 !important;

}
