




.petCard{
    list-style-type: none;
    margin: 0 5px 0 15px;
    height: 70%;
}

.cardBody{
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}

.heartContainer{
    display: flex;
    align-self: flex-end;
}

.petUl{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.searchListImage{
    border-radius: none;
    height: 50%;
    border-radius: 50%;
}

.spinner-border{
    justify-content: center;
}