.petCard {
    list-style-type: none;
    height: 100%; /* Adjusted height to 100% */
}

.cardBody {
    height: auto; /* Adjusted height to auto */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    cursor: pointer;
}

.heartContainer {
    display: flex;
    align-self: flex-end;
}

.petUl {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Changed to auto-fill and added minmax */
    grid-gap: 16px; /* Optional: Add some gap between grid items */
}

.searchListImage {
    border-radius: 50%; /* Only one border-radius property is needed */
    height: 70%; /* Adjusted height to 100% */
    object-fit: cover; /* Ensure the image covers the entire container */
}

.spinner-border {
    display: flex; /* Added display: flex to center the spinner */
    justify-content: center;
    align-items: center; /* Added align-items: center */
}

@media (max-width: 500px) {
    .cardBody{
        padding: 0 !important;
        max-height: 200px !important;
    }
  }